.greeting{
    font-family: "Merriweather", serif;
    background-image: url(../resources/Banner\ Image.png);
    width: 1320px;
    height: 600px;
}

.greeting-container{
    text-align: center;
    width: 632px;
    height: 246px;
    align-items: center;
    margin-top: -60px ;
    padding-top: 130px;
    padding-left: 300px;
    
}

.greeting-first-title{
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: -60px;
}

.greeting-second-title{
    color: #ffffff;
    font-size: 72px;
}